name: "ci build"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  build:
    name: PHP ${{ matrix.php-versions }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.2', '8.3', '8.4', '8.5']
    steps:
      - name: Setup PHP Action
        uses: shivammathur/setup-php@1.8.2
        with:
          extensions: intl
          php-version: "${{ matrix.php-versions }}"
          coverage: xdebug
      - name: Checkout
        uses: actions/checkout@v2
      - name: "Validate composer.json and composer.lock"
        run: "composer validate"
      - name: "Install dependencies"
        run: "composer install"
      - name: "CS Check"
        run: "composer cs-check"
      - name: "Run test suite"
        run: "XDEBUG_MODE=coverage vendor/bin/phpunit"
      - if: matrix.php-versions == '8.4'
        name: Run mutation test
        env:
          INFECTION_BADGE_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}
        run: |
          composer require --dev infection/infection
          XDEBUG_MODE=coverage vendor/bin/infection
      - name: Upload coverage to Codecov
        if: github.event.pull_request.head.repo.full_name == 'samsonasik/ci4-react' && matrix.php-versions == '8.4'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./clover.xml
          flags: tests
          name: codecov-umbrella
          fail_ci_if_error: true
